.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg {
    height: 60px;
    overflow: visible;
    stroke-linejoin: round;
    stroke-linecap: round;
    g {
        path {
            stroke: rgb(255, 255, 255);
        }
    }
}

.content-logo {
    display: flex;
    align-items: center;
}

.text-logo {
    font-family: 'Sirin Stencil' !important;
    font-size: 20px;
    text-shadow: rgb(32 32 32) 1px 1px 1px;
    font-weight: 500;
    text-transform: capitalize;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.more-list {
    width: 224px;
}

.more-wrapper {
    padding-bottom: 8px;
}

.user-avatar {
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    height: 42px;
}

.btn-shopping {
    background-color: var(--white);
    img {
        margin-right: 8px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
}
